
<div class="about_me_page">

  <h4 class='inspirational_quotes'>

    <img src="./images/Yulias_Prof_Pic.jpg" class="about_pic">

    <br>

    <span class='quote'>"{{quotes[0].quote}}"</span>
    <span class='author'>-{{quotes[0].author}}</span>

  </h4>

    <br>

  <ul class="about_me_info">
    <li>Hello, my name is Yulia. I'm from Kiev, Ukraine and I've been doing floral work for over 5 years. You could say that I absolutely love making floral arrangments!</li> <br><br>

    <li>I always use quality flowers and materials for my arrangements and designs. I am commited to my work and it will always be clean, beautiful and done like a true professional.</li><br><br>

    <li>I will always try to work with your budget and will offer you at least 2-3 different options for your arrangment so that your can exactly what you want.</li><br><br>

    <li>Working with me, I guarantee you will always get a beautiful and STYLISH arrangement that you, your friends or relatives will be amazed at!</li>

  </ul>



</div>

<div class="reviews">

  <p style='text-decoration: underline'>Reviews by customers:</p>
  <br>
  <p>"Yulia met my needs and she does absolutely gorgeous arrangments that are professionally designed. Thank you, Yulia!"</p>

  <img src="{{users1[0].picture.thumbnail}}">
  -{{users1[0].name.first}}
  {{users1[0].name.last}}
  From {{users1[0].location.city}},
  {{users1[0].nat}}
<br>
<br>
<br>

<p>"We loved the beautiful arrangement Yulia made for our wedding photos! They made all the difference and made our reception just beautiful!"</p>

  <img src="{{users2[0].picture.thumbnail}}">
  -{{users2[0].name.first}}
  {{users2[0].name.last}}
  From {{users2[0].location.city}},
  {{users2[0].nat}}
<br>
<br>
<br>

<p>"Our funeral arrangment was wonderfully stunning and was completely appriopriate for the occasion. It brought about a special feeling in the room and brought some happiness to a sad occasion. Would definitely recommend Yulia's services and will be ordering from her in the future."</p>

  <img src="{{users3[0].picture.thumbnail}}">
  -{{users3[0].name.first}}
  {{users3[0].name.last}}
  From {{users3[0].location.city}},
  {{users3[0].nat}}
<br>
<br>

<input type="text" placeholder="Write a review.." value="">
<br>
<button type="button" name="button">Post</button>

</div>
