<p class="about_me_info">Hello, my name is Yulia. I'm from Kiev, Ukraine and I've been doing floral work for over 5 years. You could say that I absolutely love doing floral arrangments!

  I always use quality flowers and materials for my arrangements and designs. My work will always be clean and professional.

  I will always try to work with your budget and will offer you at least 2-3 different options for your arrangment so that your can exactly what you want.

  Working with me, I guarantee you will always get a beautifyl and STYLISH arrangement that you, your friends or relatives will be amazed at!</p>
