
<div class="about_me_page">

  <div>
    {{quotes[0].quote}}
  </div>

  <img src="./images/Yulias_Prof_Pic.jpg" class="about_pic">

  <ul class="about_me_info">
    <li>Hello, my name is Yulia. I'm from Kiev, Ukraine and I've been doing floral work for over 5 years. You could say that I absolutely love making floral arrangments!</li> <br><br>

    <li>I always use quality flowers and materials for my arrangements and designs. I am commited to my work and it will always be clean, beautiful and done like a true professional.</li><br><br>

    <li>I will always try to work with your budget and will offer you at least 2-3 different options for your arrangment so that your can exactly what you want.</li><br><br>

    <li>Working with me, I guarantee you will always get a beautifyl and STYLISH arrangement that you, your friends or relatives will be amazed at!</li>

  </ul>

</div>
