<div class="contact_page">

<p class="help_text">I'm here to help <b>you!</b></p>

<p>I am always available for you to contact me and ready to answer all your questions:
</p>

<p class="email_contact">Email: <b>yulia.wilcox@gmail.com</b>
  <p>Number: <b>3852073122</b></p>
</p>

<p class='social_med_contacts'>You can find out more about me and my business on my social media pages:
  <br>
  <br>Facebook:<span class='facebook_contact'>
  <a href="https://www.facebook.com/ohmyweddingdayutah/">www.facebook.com/utahfloraldesigner</span>
  </a>
  <br>
  <br>Instagram:<span class='instagram_contact'>
  <a href="https://www.instagram.com/utah_floral">www.instagram.com/utah_floral
  </a>
</p>

<br>
<br>

<div class="contact_me_box">
  <h2 style='color: white'>Schedule an appointment call
  </h2>
  <input type="text" placeholder="Email address here...">
  <br>
  <input type="text" placeholder="Mobile Number">
  <br>
  <input class='commentary_box' type="text" placeholder="Comment Here...">
  <button type="button" name="button">Send
  </button>
<br>
</div>
<br>
</div>
