<div class="contact_page">


<p>I am always available for you to contact me and ready to answer all your questions:

</p>

<p class="email_contact">Email: <b>yulia.wilcox@gmail.com</b>
  <p>Number: <b>3852073122</b></p>
</p>

<p class='social_med_contacts'>You can find out more about me and my business on my social media pages:
  <br>
  <br>Facebook:<span class='facebook_contact'>
  <a href="https://www.facebook.com/ohmyweddingdayutah/">www.facebook.com/utahfloraldesigner</span></a>
  <br>
  <br>Instagram:<span class='instagram_contact'>
  <a href="https://www.instagram.com/utah_floral">www.instagram.com/utah_floral</a>
</p>

<br>
<br>

<div class="contact_me_box">
  <p>Schedule an appointment call</p>
  <input type="text" placeholder="Email address here...">
  <br>
  <input type="text" placeholder="Mobile Number">
  <br>
  <input class='commentary_box' type="text" placeholder="Comment Here..."><button type="button" name="button">Send</button>

<br>

  <div class="calendar">
    <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=250&amp;wkst=1&amp;bgcolor=%23ffcccc&amp;src=cm6rcg84fidissc5hgesk0ovvo%40group.calendar.google.com&amp;color=%23AB8B00&amp;ctz=America%2FDenver" style="border:solid 1px #777" width="250" height="250" frameborder="0" scrolling="no"></iframe>
  </div>
</div>

<br>
</div>
