<header>
  <div>
    <h3>
      <span class="ohMy">Oh My</span>
      <span class="flowers">Flowers</span>
      <span class="studio">Studio Of Stylish Flowers</span>
    </h3>

    <!-- <span class="phone_number">Mobile: 385-207-3122</span>
    <span class="email_address">Email: yulia.wilcox@gmail.com</span>
    <br> -->
    <div class='soc_med_logos'>
      
      <a href="https://www.facebook.com/ohmyweddingdayutah/"><img class="facebook_logo" src="http://ohmyweddingday.com/images/f.png"></a>

      <a href='https://www.instagram.com/utah_floral'>
      <img class="instagram_logo" src="http://ohmyweddingday.com/images/i.png"></a>
    </div>

    <!-- <br>
    <span class="phone_number">Mobile: 385-207-3122</span>
    <span class="email_address">yulia.wilcox@gmail.com</span> -->

  </div>

  <nav>
    <div><a ui-sref='home'>Home</a></div>
    <div><a ui-sref='prices'>Prices</a></div>
    <div><a ui-sref='about'>About</a></div>
    <div><a ui-sref='contacts'>Contact</a></div>

  </nav>

</header>
