<div class='piclinkscontainer'>

  <div>
    <p>Everyday Flowers</p>
    <a ui-sref='images({Type:"everydayFlowers"})'>
      <img src="./images/ukrainian_arrangement.jpeg">
    </a>
  </div>

  <div>
    <p>Bridal Bouquet</p>
    <a ui-sref='images({Type:"bridalBouquet"})'>
      <img src="./images/BridalBouquet.jpg">
    </a>
  </div>

  <div>
    <p>Boutonniere</p>
    <a ui-sref='images({Type:"boutonniere"})'>
      <img src="./images/Boutonniere.jpg">
    </a>
  </div>

  <div>
    <p>Corsage</p>
    <a ui-sref='images({Type:"corsage"})'>
      <img src="./images/singleCorsage.jpg">
    </a>
  </div>

  <div>
    <p>Funeral</p>
    <a ui-sref='images({Type:"funeralArrangement"})'>
      <img src="./images/Veteran.jpg">
    </a>
  </div>

</div>
