<ul class ="products_page">

<!-- <p><li><b>Bridal Bouquet</b></li>
  <img src="./images/bouquet5.jpeg" class='bouquet_product'>
  <br>Your wedding bouquet is a significant thing. It's not just a tender collaboration of flowers, but it's design must align the theme of the bride.
  <br>I can make your floral design to personally and perfectly match you and your wedding theme. Your bouquet will be completely unique.
</p> -->

<p><li><b>Bridal Bouquets and Boutonnieres</b></li>
  <img src="./images/wedding_1_(Bouquets).png" class="boutonniere_product">

  <p>Your wedding bouquet is a significant thing. It's not just a tender collaboration of flowers, but it's design must align the theme of the bride.
    <br>I can make your floral design to personally and perfectly match you and your wedding theme. Your bouquet will be completely unique.
  </p>
  (Guys, Your wedding/Your Senior prom night cannot go without that lovely rose pinned to your tux or suit jacket. Let me help you impress that special girl for that special night!)</p>

<p><li><b>Prom Corsages/Boutonnieres</b></li>
  <img src="./images/corsage.png" class="corsage_product">
  <br>Girls, it's time to get that dress to impress that special boy! But that dress needs a corsage! What is prom without your corsage? I have just what you need and can make your arrangment exactly the way you want.</p>

<p><li><b>Funeral Arrangements</b></li>
  <img src="./images/veteran.jpg" class="veteran_flowers">
  <br>Let your loved one have a beautiful arrangment to remember him/her by. A beautiful, funeral arrangement can make all the difference. <br>We also specialize in arrangments for our beloved Veterans.</p>

<p><li><b>Everyday Flowers</b></li>
  <img src="./images/Wedding_Table.jpg" class="wedding_table">
  <br>Sometimes, you have a holiday to celebrate like mothers day, or even at times you need to send a nice bouquet to apologize. I can make an arrangement for any occasion.</p>

</ul>
