<ul>

<p><li><b>Bridal Bouquet</b></li>
  <br>Your wedding bouquet is a significant thing. It's not just a tender collaboration of flowers, but it's design must align the theme of the bride.
  <br>I can make your floral design to personally and perfectly match you and your wedding theme. Your bouquet will be completely unique.
</p>

<p><li><b>Boutonnieres</b></li>
  <br>Your Senior prom night cannot go without that lovely rose pinned to your tux or suit jacket. Let me help you impress that special girl for that special night!</p>

<p><b>Corsage</b>
  <br></p>

<p><li><b>Funeral Arrangement</b></li>
  <br>Let your loved one have a beautiful arrangment to remember him/her by. A beautiful, funeral arrangement can make all the difference.</p>

<p><li><b>Everyday Flowers</b></li>
  <br>Sometimes, you have a holiday to celebrate like mothers day, or you need to apologize for something you did (husbands)</p>

</ul>
