* {
  /*margin: 0;*/
  /*padding: 0;*/
  text-decoration: none;
  list-style: none;
  color: #6B6B6B;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h3 {
  font: 400 110px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #6B6B6B;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  width: 100%;
}

.ohMy {
  display: flex;
  justify-content: center;
}

.flowers {
  display: flex;
  justify-content: center;
}

.studio {
  display: flex;
  justify-content: center;
  font-size: 2vh;
  font-family: cursive;
  color: #DFB5B5;
  text-shadow: none;
}

.soc_med {
  float: right;
  padding-right: 150px;
  font-family: sans-serif;
  height: 300px;
  border-color: 2px gray;
}

#follow_text{

}

.facebook_logo{
  padding-right: 15px;
  height: 40px;
  width: 37px;
  display: flex;
  justify-content: flex-start;
}

.instagram_logo {
  height: 40px;
  width: 37px;
  display: flex;
  justify-content: flex-end;
}

nav {
  width: 100%;
  font-size: 25px;
  height: 15px;
  font-family: sans-serif;

  /*line-height: 10px;*/
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-around;
  /*cursor: pointer;*/
  padding-bottom: 8px;
  padding-top: 8px;
  border-style: ridge;
}

nav a:hover {
  color: #DFB5B5;
}


/********FOOTER***********/

footer {
  width: 100%;
  height: 255px;
  display: flex;
  justify-content: center;
  border-style: ridge;
}



.ohMyFlowers {
  font: 400 70px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #6B6B6B;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  width: 100%;
  display:flex;
  justify-content: center;
  padding-top: 45px;

}

.studio_of_stylish_flowers {
  padding-top: 2vh;
  display:flex;
  justify-content: center;
  font-size: 4vh;
  font-family: cursive;
  color: #DFB5B5;
  text-shadow: none;
  width: 100%;
}

.copyright {
  display: flex;
  justify-content: center;
  width: 100%;
}
.co_cont {
  display: flex;
  justify-content: center;
  width: 100%;
}

/**********************HOME PAGE*****************/

.piclinkscontainer {
 font: 400 25px/0.8 'Great Vibes', Helvetica, sans-serif;
 height: 100%;
 width: 100%;

 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-wrap: wrap;
 text-align: center;
 padding: 2vh;
}

.piclinkscontainer div img {
 height: 24vh;
 width: 30vh;
 /*height: 100%;
 width: 100%;*/
 background-color: gray;
 display: inline-block;
margin: 0.5em;
margin-bottom: 1.5em;
box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.45);
cursor: pointer;
background: #fff;
padding: 0.9em;
border-radius: 2px;
border: 1px solid rgba(107, 107, 107, 0.04);
text-align: center;
}

/*******************IMAGES PAGE*******************/

.flower_images {
  /*width: 1000px;
  height: 666px;*/
}

/*******************DETAILS PAGE*******************/

.details_page {
  display: flex;
  align-items: center;
  flex-direction: column;
  
}

/*******************PRODUCTS PAGE*******************/

.products_page {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bouquet_product {
  width: 40vw;
  height: 40vh;
}

.boutonniere_product {
  width: 60vw;
  height: 35vh;
}

.veteran_flowers {
  width: 20vw;
  height: 42vh;
}

.wedding_table {
  width: 20vw;
  height: 25vh;
}

.corsage_product {
  width: 60vw;
  height: 35vh;
}

/*******************ABOUT PAGE*******************/

.about_me_page {
  display: block;
  padding-top: 8vh;
  padding-bottom: 8vh;
  padding-left: 32vh;
  padding-right: 39vh;
  height: 100%;
}

.about_yu_text {
  font: 400 100px/0.8 'Great Vibes', Helvetica, sans-serif;
  text-align: center;
}

.pic_n_quote {
  justify-content: center;
  flex-direction: row;
  align-items: center;
  display: flex;
  width: 100%;
}

.about_pic {
  width: 375px;
  height: 380px;
  justify-content: flex-start;
  flex-direction: row;
  align-items: flex-start;
  display: flex;
  padding: 10px;
}

.quote_author_box {
  text-align: center;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  display: flex;
}

 .quote {
  font: 30px Helvetica, sans-serif;

}

.author {
  font: 400 25px/0.8 , Helvetica, sans-serif;
}

.about_me_info {
  text-align: center;
  font-family: sans-serif;
  margin-top: 1vh;
  margin-bottom: auto;

}

.reviews {
  background-color: #EBBCBC;
  border-style: solid;
  box-shadow: 5px 5px 5px #888;
  font-family: sans-serif;
}

.user1 {
  text-transform: capitalize;
}

.user2 {
  text-transform: capitalize;
}

.user3 {
  text-transform: capitalize;
}

.user1_pic {
  border-style: groove;
}

.user2_pic {
  border-style: groove;
}

.user3_pic {
  border-style: groove;
}

.user1_box {
  border-style: ridge;
  background-color: white;
  box-shadow: 5px 5px 5px #888;
}

.user2_box {
  border-style: ridge;
  background-color: white;
  box-shadow: 5px 5px 5px #888;
}

.user3_box {
  border-style: ridge;
  background-color: white;
  box-shadow: 5px 5px 5px #888;
}


/**********************CONTACTS PAGE******************/

.contact_page {
  padding: 20px;
  text-align: center;
  font-family: sans-serif;
}

.contact_me_box {
  text-align: center;
  font-family: arial;
  font-size: 15px;
  padding: 0 10em 1em 10em;
text-align: center;
background: url(../images/diag.jpg),#ebbcbc;
box-shadow: 5px 5px 5px #888;
 /*border-bottom: 1px solid rgb(235, 188, 188);
 border-bottom: 1px solid rgb(235, 188, 188);
 border-bottom: 1px solid rgb(235, 188, 188);*/
}

.facebook_contact {
text-decoration: underline;
}

.instagram_contact {
text-decoration: underline;
}
