* {
  /*margin: 0;*/
  /*padding: 0;*/
  text-decoration: none;
  list-style: none;
  color: #6B6B6B;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h3 {
  font: 400 110px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #6B6B6B;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  width: 100%;
}

.ohMy {
  display: flex;
  justify-content: center;
}

.flowers {
  display: flex;
  justify-content: center;
}

.studio {
  display: flex;
  justify-content: center;
  font-size: 2vh;
  font-family: cursive;
  color: #DFB5B5;
  text-shadow: none;
}



.soc_med_logos {
  float: right;
  padding-right: 50px;
  font-family: sans-serif;
  height: 200px;
  width: 300px;
  border-color: 2px gray;
  /*background-color: blue;*/
}

.facebook_logo{
  padding-right: 15px;
  height: 40px;
  width: 40px;

}

.instagram_logo {

  height: 40px;
  width: 40px;
}

nav {
  width: 100%;
  font-size: 25px;
  height: 15px;
  font-family: sans-serif;
  font-weight: 10;
  /*line-height: 10px;*/
  flex-direction: row;
  align-items: center;
  display: flex;
  justify-content: space-around;
  /*cursor: pointer;*/
  padding-bottom: 8px;
  padding-top: 8px;
  border-style: ridge;
}

nav a:hover {
  color: #DFB5B5;
}


footer {
  width: 100%;
  height: 255px;
  display: flex;
  justify-content: center;
  border-style: ridge;
}



.ohMyFlowers {
  font: 400 70px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #6B6B6B;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
  width: 100%;
  display:flex;
  justify-content: center;
  padding-top: 45px;

}

.studio_of_stylish_flowers {
  padding-top: 2vh;
  display:flex;
  justify-content: center;
  font-size: 4vh;
  font-family: cursive;
  color: #DFB5B5;
  text-shadow: none;
  width: 100%;
}

.copyright {
  display: flex;
  justify-content: center;
  width: 100%;
}
.co_cont {
  display: flex;
  justify-content: center;
  width: 100%;
}

/**********************HOME PAGE*****************/

.piclinkscontainer {
 font: 400 25px/0.8 'Great Vibes', Helvetica, sans-serif;
 height: 100%;
 width: 100%;

 display: flex;
 justify-content: space-around;
 align-items: center;
 flex-wrap: wrap;
 text-align: center;
 padding: 2vh;
}

.piclinkscontainer div img {
 height: 24vh;
 width: 30vh;
 background-color: gray;
 display: inline-block;
margin: 0.5em;
margin-bottom: 1.5em;
box-shadow: 0.1em 0.1em 0.3em rgba(0, 0, 0, 0.45);
cursor: pointer;
background: #fff;
padding: 0.9em;
border-radius: 2px;
border: 1px solid rgba(107, 107, 107, 0.04);
text-align: center;
}

/*******************ABOUT PAGE*******************/

.about_me_page {
  display: block;
  padding-top: 8vh;
  padding-bottom: 8vh;
  padding-left: 32vh;
  padding-right: 39vh;
  height: 100%;
}

.about_pic {
  width: 40vh;
  height: 40vh;
}

 .quote {
  font: 400 35px/0.8 'Great Vibes', Helvetica, sans-serif;
}

.author {
  font: 400 25px/0.8 , Helvetica, sans-serif;
}

.pic_n_quote {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about_me_info {
  text-align: left;
  font-family: sans-serif;
  margin-top: 1vh;
  margin-bottom: auto;
}

.reviews {
  /*background-color: lightgray;*/
  border-style: groove;
}
input {
  display: flex;
  justify-content: center;
}



/**********************CONTACTS PAGE******************/

.contact_page {
  text-align: center;
  /*background: url('Wedding_Table.jpg');*/
}

.contact_me_box {
  text-align: center;
  font-family: arial;
  font-size: 15px;
  padding: 0 10em 1em 10em;
text-align: center;
background: url(../images/diag.jpg),#ebbcbc;
/* border-bottom: 1px solid rgb(235, 188, 188); */
/* border-bottom: 1px solid rgb(235, 188, 188); */
/* border-bottom: 1px solid rgb(235, 188, 188);*/
}
